[workspace]
members = ["core", "engine", "http", "scribblehub"]
resolver = "2"

[workspace.dependencies]
kuchiki = { package = "kuchikiki", version = "0.8.2" }
once_cell = "1.19.0"
wasmtime = { version = "21.0.0", features = ["component-model"] }

[workspace.dependencies.chrono]
version = "0.4.22"
default-features = false
features = ["clock", "iana-time-zone", "oldtime", "std", "serde"]

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
panic = 'abort'
strip = true
